*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* min-height: 2000px; */
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}
.box{
    /* border: 2px solid white; */
    min-height: 1500px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}
.box1, .box2, .box3, .box4,.box5, .box7,.box8,.box9 {
/* border: 2px solid white; */
height: 100vh;
width: 100%;
}

.box1{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
nav{
    /* border: 1px solid black;  */
    width: 95%;
    height: 50px; 
    margin-left: 50px; 
    display: flex; 
    align-items: center; 
}
.golo{
    /* border: 2px solid black; */
    width: 20%;
    height: 40px;
    margin-top: 10px;
}

.circ {
    width: 50%;
    margin-top: 50px;
}
.bar{
     /* border: 2px solid black; */
     width: 40%;
    height: 40px;
    margin-left:350px;
    
   
}
.bar ul{
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 10px;
}
.bar ul li{
    list-style: none;
    margin-left: 60px;

}
.bar ul li a{
    color: black;
    text-decoration: none;
}
.whatsapp{
    border-left: 1px solid black; 
    width: 20%;
   height: 40px;
   margin-left:40px;
   display: flex;
 
}

.icon img{
    height: 40px;
    margin-left: 10px;
}
.inner-section{
    margin-left: 20px;
}


.pic{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* position: relative; */
}
.absolute {
position: relative;
}
.absy1{
    position: absolute;
    left: -719px;
    top: 4px;
    height: 192px;
    
   }
.abs2{
    position: absolute;
    left: -322px;
    top: 295px;
    height: 152px; 
}
.absy1 img , .abs2 img{
   
    width: 373px;

   
}
.txt{
    width: 50%;
    margin-top: 150px;
    margin-left: 50px;
    /* text-align: center; */
}
.txt h1{
    font-size: 56px;
    font-weight: bold;
}
.ptag{
    margin-top: 59px;
}
.txt button{
    height: 50px;
    width: 40%;
    background-color: #FF6433;
    border-radius: 10px;
    margin-top: 49px;
    border: none;
    color: white;
}
.txt button a{
    color: white;
    text-decoration: none;

}
.cam{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin: 30px 50px;
}
.cam img{
    width: 100%;
    height: 450px;
    
}

/* section two */
.box2{
    background-color: #E2E6E9;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
}
.sec1{
    /* border: 2px solid black; */
    
    width: 40%;
    height: 520px;
}
.sec1 h2{
    font-size: 48px;
}
.ony{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.text-box{
    margin-left: 20px;
}

.sec2{
    /* border: 2px solid black; */
    width: 50%;
    height: 520px;
    margin-left: 60px
}

.sec2 h3{
    font-size: 48px;
    padding-bottom: 30px;
}
.arrow{
    display: flex;
    margin-left: 50px;
    
}
.arrow img{
    object-fit: contain;
    margin-left: 20px;
    margin-top: 40px;
}
.ptag1{
    margin-top: 40px;
}
.sec2 input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
.sec2 button{
    height: 50px;
    width: 30%;
    background-color: #FF6433;
    border-radius: 10px;
    margin-top: 29px;
    border: none;
    color: white;
 
}

/* FOR BOX3 */

.box3{
    display: flex;
    background-color: white;
    height: 750px;

}
.para{
    margin: auto;
    width: 40%;
}
.para button{
    height: 50px;
    width: 30%;
    background-color: #FF6433;
    border-radius: 10px;
    margin-top: 29px;
    border: none;
    color: white;
 
}

.circ{
    width: 50%;
    margin-top: 50px;
    
}
.par{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 90px;
    
}
.num{
    margin-right: 20px;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    background: linear-gradient(#661CE7 70%, #8B52ED 30%);
    font-size: 20px;
    color: white;
    

}
.writ h2{
    margin-bottom: 5px;
}
.writ p{
    line-height: 27px;
    font-size: 21px;
    
}


/* Box4 */
.box4{
    background-color: #E2E6E9;
   }
   
.boxy{
    height: 340px;
    width: 70%;
    margin: auto;
    background-color: #E2E6E9;
    display: flex;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ono, .two{
    /* border: 1px solid black; */
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
}
.onek{
    /* border: 1px solid black; */
    background-color: white;
    width: 23%;
}
.onek:hover{
    background-color:orangered ;
}
.onek img{
width: 25%;
margin-top: 40px;
margin-left: 80px;
}
.onek p{
    text-align: center;
}
.headings{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 30px;
}




/* FOR BOX5 */
.box5{
    display: flex;
    flex-direction: column;
    background-color: #E2E6E9;
    padding-top: 50px;
    width: 100%;

       
    /* justify-content: space-around; */

}
.fee{
    display: flex;
    position: relative;
    width: 100%;
}
 .car{
    /* border: 2px solid black; */
    width: 20%; 
    height: 300px;


    
}
.ptag3{
    text-align: center; 
    color: white; 
    font-size: 26px; 
    margin-top: 120px;
}

.car img{
    width: 100%;
    height: 300px;
    
}
.car1{
    background-color: orangered;
    position: absolute;
    left: 118px;
    width: 40%;
    height: 300px;
}
.car2{
    width: 53%;
    position: absolute;
    left: 630px;
    height: 300px;
}
.car2 img{
    width: 100%;
    height: 300px;
}

.fet{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-top: 90px;
}
.fet1, .fet2, .fet3, .fet4{
    /* border: 2px solid black; */
    width: 15%;
    height: 100px;
}
.fet h2{
    text-align: center;
    font-size: 35px;
    color: #661CE7;
    margin-bottom: 10px;
    font-weight: bolder;
    
}
.fet p{
    text-align: center;
}


/* BOX6 */
.box6{
    background-color: white;
    padding-top: 80px;
    min-height: 400px;
}
.box6 h2{
    text-align: center;
    font-size: 30px;
}
.logo{
   width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px; 
}
.logo .logus{
    display: flex;
    flex-direction:row;
}
.log img{
    margin-left: 20px;
}
.log p{
    margin-left: 10px;  
}
.log{
    width: 19%;
    height: 100px;
    /* border: 2px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOR BOX 7 */

.box7{
    background-color: #F2F2F2;
    height: 500px;
    
    
}
.box7 h2{
    text-align: center;
    padding-top: 40px;
}
.box70{
    display: flex;
    margin-top: 40px;
    justify-content: center;
  
  
}
.box71{
 width: 100%;
    /* border: 2px solid black; */
   width: 28%;
   height: 200px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   margin-left: 60px;
}
.box71 img{
    padding-right: 16px;
}
cite{
    display: flex;
}
blockquote{
    width: 80%;
}
.circy{
    /* border: 2px solid black; */
    width: 40%;
    height: 50px;
    display: flex;
    margin-top: 30px;
    margin-left: 575px;
    
      
    
} 
.circo{
    display: flex;
    margin-top: -12px;
    margin-left: 241px;
    
}
.circy2{
    margin-left: 20px;

}
.circy2 img{
    height: 50px;
}








/*  BOX 8 */
.box8{
    width: 100%;
   height: 900px;
    background-color: #E2E6E9;
   }
   .box8 h2{
       text-align: center;
      padding-top: 50px;
   }
.fre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.freq{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 800px;
    justify-content: space-around;
}
.freq1{
    /* border: 2px solid black; */
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.freq3{
    width: 80%;
    padding-top: 10px;
}
.freq3 h5{
    font-size: 25px;
}
.orange{
    /* border: 1px solid black; */
    height: 40px;
    width:40px;
    margin-top: 5px;
    background-color: #FF6433;
    font-size: 30px;
    text-align: center;
    color: white;
}






/* BOX 9 */
.box9{
    background-color: #E2E6E9 ;
    color: white;
}
.footer{
    border: 1px solid black;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: black ;
    align-items: center;

  
}
.foot{
    border: 1px solid black;
    height: 300px;
    width: 100%;
    background-color: #222020;
    display: flex;

}
.foot1{
    /* border: 1px solid white; */
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}
.icony{
    padding-top: 20px;
    color: white;
}

.icony i{
    padding-left: 20px;
}
.foot1 h3{
    margin-bottom: 20px;
}
.foot2{
    background-color: black;
    color: white;
    padding-top: 30px;
}
.foot2 .bar{
    margin-left: 40px;
}
.foot2 .bar li a{
    color: white;
}
.foot2 .whatsapp{
    border: none;
    margin-top: 20px;
    margin-left: 190px;
}
.foot2 .golo img{
    color: #FF6433;
    
}