@media only screen and (max-width:1280px) {
   .box1{
       height: 600px;
   } 
   
    .bar{
          margin-left:195px;
        
       
    }
      .whatsapp{
       margin-left:82px;
     
     
    }
    .box2{
        height: 530px
    }
    .box4{
        height: 580px;
    }
    .box5{
        height: 580px;
    }

    @media only screen and (max-width:1024px){
        /* SECTION 1 */
        .bar{
            margin-left: -48px;
        }

        .whatsapp{
            margin-left: 242px;
        }
    .absy1{
        left: -565px;
    }

    /* SECTION 3 */
    .box3{
        min-height: 676px;
    }

    /* SECTION 4 */
    .onek img{
        margin-left: 64px;
    }

    /* SECTION 5 */
    .car2{
        left: 515px;
    }

    /* SECTION 6 */
    .logo{
        margin-left: 70px;
    }
    .log img{
        margin-left: -18px;
    }

    /* SECTION 7 */
    .circy{
        margin-left: 454px;
    }
    .circo{
        margin-left: 137px;
    }
    /* SECTION 9 */
    .foot2 .whatsapp{
        margin-left: 161px;
    } 
    
      
}

@media only screen and (max-width: 912px){
    .box1 .whatsapp{
        display: none;
    }
    .bar{
        margin-left: 48px;
    }
    .absy1{
        left: -524px ;
    }
    .abs2{
        left: -232px ;
    }

    /* sSECTION 3 */
    .box3{
        height: 400px;
    }

    .car2{
        left: 477px;
    }


    .circy{
        margin-left: 373px;
    }

    .box8{
        height: 949px;
    }
    .freq{
        height: 852px;
    }
    .freq1{
        height: 150px;
        margin-bottom: 4px;
    }
    .foot2 .whatsapp{
        margin-left: ;
    }


    @media only screen and (max-width:820px) {
        /* SECTION 1 */ 
       .box1{
           min-height: 900px;
       }
       .bar{
           margin-left: -20px;
       }
       .pic{
            display: flex;
            flex-direction: column;
        }
   
.txt{
    width: 100%;
    margin-top: 50px;
    margin-left: 15px;
}
   
    .txt button{
    height: 50px;
    width: 20%;
    
}
.cam{
  
    width: 100%;
    margin: 30px 0;

}
.cam img{
    width: 100%;
    height: 450px;
    margin-left: 0px;
    
}
.absolute{
    display: none;
}


/* section 2 */
.box2{
    display: flex;
    flex-direction: column;
     min-height: 1000px;
   
}

.sec1{
    
    
    width: 100%;
    height: 320px;
}
.sec1 h2{
    font-size: 48px;
}


.sec2{
    
    width: 100%;
    height: 320px;
    margin-left: 20px;
    padding-top: 130px;
}

.sec2 input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}





.box3{
    display: flex;
    flex-direction: column;
    min-height: 756px;
    margin-bottom: 30px;

}
.para{
    padding: 30px 40px;
    width: 100%;
}

.circ{
    width: 100%;
    margin-top: 50px;
    
}
.par{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
}


.onek img{
    margin-left: 48px;
}


.car2{
    left: 414px;
}


/* section 6 */

.logo{
    display:flex ;
    flex-direction: row;
    margin-left: 100px
    

}
.logo .logus{
    display: flex;
    flex-direction: column;
} 



.circo{
    margin-left: 51px;
}

@media only screen and (max-width:540px) {
/* SECTION 1 */
.box1{
    min-height: 736px;
}
.bar{
    display: none;
}
.txt{
    margin-top: 31px;
}
.txt button{
    margin-top: 20px;
}
.ptag{
    margin-top: 20px;
}
.txt h1{
    font-size: 30px;
}



.box2{
    min-height: 870px;
}
.sec1, .sec2{
    padding-right: 20px;
}
.sec1 h2, .sec2 h3{
    font-size: 25px;
}
.sec2{
    padding-top: 70px;
}




.circ{
    padding-right: 20px;
}


.boxy{
    width: 100%;
}
.onek{
    width: 24%;
}


.car1{
    left: 86px;
}
.car2{
    left: 299px;
}


/* SECTION 7 */
.box7{
    height: 900px;
}
.box70{
    display: flex;
    flex-direction: column;
}
.box71{
    height: 300px;
    margin-bottom: 40px;
    width: 70%;
}
.circy{
    margin-left: 105px;
}

/* SECTION 8 */
.freq{
    width: 90% ;
}
/* SECTION 9 */
.footer .foot{
    display: none;
}
.foot2 .bar{
    display: flex;
    flex-direction: column;
    margin-left: -15px;
}
.foot2{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.foot2 nav .bar ul{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
} 
.foot2 nav .bar ul li a{
    font-size: 23px;
    padding-bottom: 30px;
}
.foot2 nav{
    height: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 0px;
}
.foot2 .whatsapp{
    padding-top: 96px;
    width: 100%;
    margin-left: 289px;

}

}

@media only screen and (max-width:412px) {
.box3{
    min-height: 920px;
}
    .circ{
    margin-top: -131px;
}
.headings h2{
    font-size: 30px;
    padding-top: 13px;
}

.box5{
    min-height: 512px;
}
.boxy{
    margin-top: 50px;
}
.onek p{
    font-size: 13px;
}
.onek img{
    margin-left: 33px;
}
.car,.car2{
    display: none;
}
.car1{
    width: 100%;
    height: 186px;
    left: 4px;
    top: -109px;
}
.ptag3{
    text-align: center;
    margin-top:70px;
}
.fet{
    margin-top: 150px;
}
.fet p{
    font-size: 13px;
}


.log img{
    margin-left: -79px;
}
.circy{
    display: none;
}
.freq{
    width: 100%;
}



}

@media only screen and (max-width:360px){
    .golo{width: 50%;
    margin-bottom: 30px;
    margin-left: 13px;
    margin-top: 36px;
    }

    .golo img{
        height: 50px;
        width: 100%;
    }
    .txt button{
        width: 40%;
    }
    .box2{
        height: 1000px;
        margin-top: 30px;
    }
    .sec1{
        height: 460px
    }
    .sec2{
        padding-bottom: 191px;
    }
    .box3{
        height: 1500px;
    }
    .par{
        margin-top: 135px;
    }
    button{
        width: 50%;
    }
    .para button{
        width: 50%;
    }
    .fet{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fet p{
        width: 100%;
    }
    .box8{
        height: 1000px;
    }
    .freq1{
        height: 220px;
        margin-bottom: 30px;
    }

}



