@media only screen and (max-width:1280px){
   body{
       overflow-x: hidden;
       width: 100%;
   }
   .box{
       width: 100%;
   }
   .box1, .box2, .box3, .box4,.box5, .box6, .box7,.box8,.box9{
    width: 100%;
}
   .whatsapp{
    border-left: 1px solid black;
    width: 40%;
   height: 40px;
   margin-left:68px;
   display: flex;
 
}
.box6{
    height: 460px;
    padding-top: 80px;
}
.box6 h2{
    text-align: center;
    font-size: 30px;
}
.logo{
   width: 60%;
  margin-left: 250px; 
    
}
.bar{
    /* border: 2px solid black; */
     margin-left:320px; 
}



}
@media only screen and (max-width:1024px){
    body{
        /* overflow-x: hidden; */
        width: 100%;
    }
    .box1, .box2, .box3, .box4,.box5, .box6, .box7,.box8,.box9{
        width: 100%;
    }
    .whatsapp{
        margin-left:180px;
        width: 40%;
        
        }
        
        .bar{
            /* border: 2px solid black; */
             margin-left:20px; 
        }
        .onek img{
            margin-left: 63px;
        }
        .txt button{
          margin-top: 20px;
        }
        .cam{
            margin: 40px 50px;
        }
        .box2 {
            background-color: #E2E6E9;
            display: flex;
            padding-top: 50px;
            padding-left: 50px;
            width: 100%;
        }
        .circ {
            width: 50%;
            margin-top: 5px;
        }
        .car2 img {
            width: 95%;
            height: 300px;
            position: absolute;
            left: -124px;
        }
        .car1{
            background-color: orangered;
            position: absolute;
            left: 126px;
            width: 40%;
            height: 300px;
        }
}
@media only screen and (max-width:960px){
    .box1, .box2, .box3, .box4, .box5{
        height: 690px;
        
    }
    .car2 img{
        left: -139px;
    }
}
@media only screen and (max-width:768px){
    .box1, .box2, .box3, .box4 {
        height: 520px;
        
    }
    .box5{
        height: 560px;
    }
    .fet1, .fet2, .fet3, .fet4{
        /* border: 2px solid black; */
        width: 19%;
    }
    
.cam img {
    
    height: 400px;
}
    nav{
        /* border: 1px solid black;  */
         margin-left: 10px; 
            }
    .golo img{
       
        margin-top: 2px;
    }
    
     .bar{
         /* border: 2px solid black; */
         width: 40%;
        height: 40px;
        margin-left:20px;
        
       
    }
    .bar ul{
        display: flex;
        margin-left: 20px;
        align-items: center;
        margin-top: 10px;
    }
    .bar ul li{
        list-style: none;
        margin-left: 20px;
       
    }
    .bar ul li a{
        list-style: none;
        margin-left: 5px;
        text-decoration: none;
        color: black;
    
    
    }
    .whatsapp{
        border-left: 1px solid black;
        width: 30%;
       height: 40px;
       margin-left:90px;
       display: flex;
     
    }
    
    
    .txt h1{
        font-size: 36px;
        font-weight: bold;
    }
    .txt button{
        height: 40px;
        width: 40%;
        margin-top: 35px;
    }
    .txt button a{
       
        text-decoration: none;
    
    }
    .sec1 h2{
        font-size: 28px;
    }
    .sec2 h3{
        font-size: 28px;
    
    }
    .para h1{
        font-size: 22px;
    }
   
    .par{
            margin-top: 26px;
        
        
    }
       .writ p{
        line-height: 17px;
        font-size: 16px;
        
    }
    



    
.onek img {
    width: 25%;
    margin-top: 40px;
    margin-left: 46px;
}
 


.car2 img {
    width: 95%;
    height: 300px;
    position: absolute;
    left: -236px;
}
.car1{
    background-color: orangered;
    position: absolute;
    left: 96px;
    width: 40%;
    height: 300px;
}



.logo {
    margin-left: 150px;
}
.log img{
    margin-left: 25px;
}


.box71 {
    width: 30%;
    height: 250px;
}
.box71 img{
    padding-left: 3px;
}

.freq3 h5 {
    font-size: 20px;
}
.freq3 p{
    font-size: 14px;
}



/* FOOTER SECTION */
.foot1 {
    /* border: 1px solid white; */
      padding-left: 10px;
}
.foot1 h1{
    font-size: 17px;
}
.foot1 .icony{
margin-right: 3px;
}
.foot2 .bar li a {
    margin-left: 30px;
    color: white;
}
.whatsapp p{
    font-size: 12px;
}
.foot2 .bar {
    margin-left: -46px;
}
.foot2 nav{
    margin-left: 44px;
}


}
@media only screen and (max-width:500px){
    nav{
        /* border: 1px solid black;  */
        width:100%; 
        margin-left: 10px; 
         }
    .golo{
        /* border: 2px solid black; */
        width: 10%;
        height: 40px;
        margin-top: 10px;
    }
    .golo img{
        width: 90px;
    }
    
    .circ {
        width: 50%;
        margin-top: 50px;
    }
    .bar{
         /* border: 2px solid black; */
         width: 40%;
        height: 40px;
        margin-left:10px;
        
       
    }
    .bar ul{
        margin-left: 54px;
        margin-top: 6px;
    }
    .bar ul li{
        margin-left: 17px;
    
    }
    .whatsapp{
        display: none;
    }
    
    
    .pic{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .txt{
        width: 60%;
        margin-top: 130px;
        margin-left: 20px;
        /* text-align: center; */
    }
    .txt h1{
        font-size: 28px;
        font-weight: bold;
    }
    .txt .lst{
        margin-top: 35px;
    }
    
    .txt button{
        height: 30px;
        width: 50%;
         margin-top: 19px;
    }
    .ptag{
        margin-top: 30px;
    }
    .cam{
     margin: 30px 50px;
    }
    .cam img{
        width: 100%;
        height: 340px;
        
    }
 
    


    /* BOX2 */
    .box2{
     
        display: flex;
        flex-direction: column;
        min-height: 700px;
    }
    .sec1{
        width: 100%;
        min-height: 320px;
    }
    .sec1 h2{
        font-size: 26px;
        white-space: nowrap;
        text-align: center;
    }
    
    .sec2{
        /* border: 2px solid black; */
        width: 100%;
       min-height: 520px;
        margin-left: 20px
    }
    
    .sec2 h3{
        font-size: 23px;
        padding-bottom: 10px;
    }
    .arrow{
        display: flex;
        margin-left: 30px;
        
    }
    .arrow img{
        object-fit: contain;
        margin-left: 20px;
        margin-top: 10px;
    }
    .ptag1 {
        margin-top: 10px;
    }
    .sec2 input {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        height: 30px;
    }
    .sec2 button{
        height: 30px;
        width: 20%;
        background-color: #FF6433;
        border-radius: 10px;
        margin-top: 29px;
     
    }



    /* BOX 3 */

    .para{
        margin-left: 20px;
        width: 30%;
    }
    .circ{
        width: 67%;
        margin-top: -50px;
        
    }
    .par{
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        margin-left: 90px;
        
    }
    .num{
        margin-right: 24px;
        border: 2px solid black;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        padding-top: 10px;
        background: linear-gradient(#661CE7 70%, #8B52ED 30%);
        font-size: 15px;
        color: white;
        
    
    }
    .writ h2{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .writ p{
        line-height: 20px;
        font-size: 13px;
        
    }
    .line{
        margin-left: 22px; 
        margin-top: 12px;
        
    }
    

    /* BOX4 */
    .box4 h2{
        font-size: 25px;
    }
    .ono, .two{
        /* border: 1px solid black; */
        
        height: 90px;
        }
        .boxy{
              margin-top: 20px;
         } 
    .onek img{
        width: 25%;
        margin-top: 18px;
        margin-left: 29px;
         }
    .onek p{
         text-align: center;
    }
    .car1{
        left: 67px;
    }
    .car2 img{
        left: -375px    
    }  
    .ptag3{
     font-size: 16px; 
     margin-top: 120px;
    }
.fet1 h2, .fet2 h2, .fet3 h2, .fet4 h2{
    font-size: 26px;

    }
.fet1 p, .fet2 p, .fet3 p, .fet4 p{
    font-size: 11px;

    }
.fet1 , .fet2 , .fet3 , .fet4 {
    width: 24%;

    }
.logo{
    margin-left: 87px;
}


.log {
    width: 48%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

 .box71 {
    width: 49%;
    height: 250px;
} 
  
.box8 h2{
    text-align: center;
    margin-top: 40px;
}

.freq{
 /* border: 2px solid black; */
 display: flex;
 flex-direction: column;
 width: 80%;
 height: 610px;
 justify-content: space-around;
}
.freq1{
 /* border: 2px solid black; */
 width: 100%;
 height: 70px;
 display: flex;
 justify-content: space-around;
 background-color: white;
}
.freq3{
 width: 80%;
 padding-top: 10px;
}
.freq3 h5{
 font-size: 25px;
}
.orange{
 /* border: 1px solid black; */
 height: 40px;
 width:40px;
 margin-top: 5px;
 background-color: #FF6433;
}


}
                    

@media only screen and (max-width:380px){

}