@media only screen and (max-width:1024px){
    /* SECTION ONE */

    .bar{
        margin-left: 69px;
    }
    .writy p{
    font-size: 13px;
    }
    .bar ul{
        margin-left: -101px;
    }
    .cary2, .cary3{
        min-height: 380px;
    }
    .car2{
    left: 477px;
    }
}

@media only screen and (max-width:950px){
    .bar ul{
        margin-left: -129px;
    }
    .cary2, .cary3{
        min-height: 480px;
    }
    .writy{
        margin-top: 128px;
    }
    .non{
        width: 30%;
    }

    .footer{
        justify-content: space-around;
    }
     .foot1{
        /* border: 1px solid white; */
       display: none;
    }
    .foot{
        border: 1px solid black;
        height: 0px;
        background-color: black;
        display: flex;

    
    }
    .foot2{
        /* border: 1px solid white; */
        background-color: black;
        color: white;
        height: 500px;
        display: flex;
        /* align-items: center; */
        justify-content: space-around;
    }
   .footer .golo img{
        height: 50px;
        margin-left: 10px;
    }
   .footer .golo{
        margin: 50px 10px;
    }
   .footer .golo{   
         margin-left: -234px;
    }

   .footer nav{
        display: flex;
        flex-direction: column;
        
    }
    .footer nav ul{
        display: flex;
        flex-direction: column;
        /* background-color: white; */
    }
   
    
    .foot2 .bar{
        margin-top: 10px;
        margin-bottom: 135px;
    }
    
     
    
    .bar ul li a{
        color: white;
        padding-bottom: 20px;
        font-size: 22px;
    }
    
    .foot2 .whatsapp{
        border: none;
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    
     
   
   
}

@media only screen and (max-width:830px) {
     .bar ul{
       background-color: black;
        display: flex;
        margin-left: -172px;
        align-items: center;
        margin-top: -1px;
    }
    .bar ul li{
        list-style: none;
        margin-left: 60px;
    
    }
    .bar ul li a{
        color: black;
        list-style: none;
        font-size: 20px;
    }
    
    .icon img{
        height: 40px;
        margin-left: 10px;
    }
    .inner-section{
        margin-left: 20px;
    }
    
   .box1  nav .whatsapp{
      display: none;
  }  
  .bar {
    margin-left: 122px;
  }
  .car2 {
    left: 421px;
}

.cary2, .cary3 {
    min-height: 580px;
}

/* SECTION TWO */
.bar ul li a{
    color: white;
    padding-bottom: 20px;
    font-size: 22px;
}

}


@media only screen and (max-width: 540px)

